.axis--x path {
    /* display: none; */
}

.axis path,
.axis line {
    fill: none;
    stroke: "#cfcfcf";
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 12px;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}