.axis--x path {
    /* display: none; */
}

.axis path,
.axis line {
    fill: none;
    stroke: "#cfcfcf";
    shape-rendering: crispEdges;
}

.axis text {
    fill: #ccc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.yAxis text {
    fill: #ccc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.bg-label text {
    font-family: Georgia, serif;
    font-size: 40px;
    opacity: 0.6;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 3px;
}

.names {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}